# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts






../../../../.ipynb_checkpoints/
../../../../Cisco Packet Tracer.lnk
../../../../DEMO.ipynb
../../../../Drum+Kit+Starting+Files/
../../../../DuckDuckGo.lnk
../../../../Eclipse IDE for C and C++ Developers - 2023-03.lnk
../../../../Eclipse IDE for Java Developers - 2023-03.lnk
../../../../Google Cloud SDK Shell.lnk
../../../../Insomnia.lnk
../../../../MinGW Installer.lnk
../../../../MongoDBCompass.lnk
../../../../NVIDIA Omniverse Launcher.lnk
../../../../Nmap - Zenmap GUI.lnk
../../../../Postman.lnk
../../../../ProtaSteel 2019 TR.lnk
../../../../Unreal Engine.lnk
../../../../database/
../../../../firstAPI/
../../../../greet.js
../../../../javascript_mocha_selenium/
../../../../project-movies-vite/
../../../Airbnb-Blockchain/
../../../airbnb-blockchain-testing - Copy (2)/
../../../airbnb-blockchain-testing - Copy/
../../../airbnb-blockchain-testing-backup/
../
../../../project-auth/
../../../project-express-api - Copy/
../../../project-express-api-auth/
../../../project-express-api-authentication/
../../../project-express-api-post-codealong/
../../../project-express-api-validation/
../../../project-express-api/
../../../project-happy-thoughts/
../../../../unit-test-technigo/